script(type="text/javascript", src="../assets/bower/jquery/dist/jquery.js")
script(type="text/javascript", src="../assets/bower/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="../assets/bower/angular/angular.js")
script(type="text/javascript" src="../assets/bower/ui-router/release/angular-ui-router.js")
script(type="text/javascript" src="../assets/bower/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="./app.js")
script(type="text/javascript", src="./config/app.config.js")
script(type="text/javascript", src="./config/url.state.js")
script(type="text/javascript", src="../generator/service/randomNumberGeneratorService.js")
script(type="text/javascript", src="../generator/controller/generator.homeCtrl.js")
